<div class="container-inbox">
  <h2>Inbox</h2>
    <%= link_to events_path, class: 'return-btn-inbox' do %>
      <i class="fa-solid fa-chevron-left" style="color: #000000;"></i>
    <% end %>
      <% if @chatrooms.empty? %>
        <div>
          <h3 class="no-friend">No new chats here...</h3>
          <div class="gif-container">
            <iframe src="https://giphy.com/embed/cXFBjz9OoNScNGE5Lb" class="giphy-ms"></iframe>
          </div>
          <div class="go-chat-container">Pick an event first to chat with someone 😉</div>
        </div>
      <% else %>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do%>
          <div class="container">
            <div class="user-i-container">
            <% other_user = chatroom.first_user == current_user ? chatroom.second_user : chatroom.first_user %>
              <%= cl_image_tag other_user.photo.key, class: "avatar-large" %>
              <div class="d-flex flex-column justify-content-center">
                  <p class="m-0" ><%= other_user.first_name %></p>
                  <p id="exctracted-message">"<%= chatroom.messages.last&.content&.truncate(30) %>"</p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
</div>
