<div class="profile-navigation">
  <%= link_to events_path, class: "nav-icon left" do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <h3 class="profile-title">My profile</h3>

  <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-icon right" do %>
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
  <% end %>
</div>


<div class="container">

  <div class="user-infos">
    <div class="profile-background"></div>
    <%= cl_image_tag current_user.photo.key, class: "avatar-profile" %>
    <div class="user-fullname"><%= current_user.fullname %></div>
  </div>
</div>


<div class="container users-list">

  <div class="dashboard-container">
    <% if @events_as_organizer.any? %>
      <h2 class="title-dashboard">My events as an organizer</h2>
      <% @events_as_organizer.each do |event| %>
        <%= render "events/event", event: event %>
      <% end %>
    <% end %>
  </div>

  <div class="dashboard-container">
    <% if @events_as_participant.any? %>
      <h2 class="title-dashboard">My events as a participant</h2>
      <% @events_as_participant.each do |event| %>
        <%= render "events/event", event: event %>
      <% end %>
    <% end %>
  </div>

</div>
