<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <%= link_to challenges_path, class: "navbar-item #{'active' if controller_name== 'challenges'}" do %>
      <i class="fa-regular fa-chess-queen"></i>
    <% end %>
    <%= link_to events_path, class: "navbar-item  #{'active' if controller_name == 'events'}" do %>
      <i class="fa-regular fa-map"></i>
    <% end %>
    <%= link_to chatrooms_path, class: "navbar-item #{'active' if controller_name == 'chatrooms'}" do %>
      <i class="fa-regular fa-comments"></i>
    <% end %>
    <%= link_to user_path(current_user), class: "navbar-item #{'active' if controller_name == 'users'}" do %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-navbar"%>
    <% end %>
  </div>
</div>
