<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-item" do %>
      <i class="fa-regular fa-chess-queen"></i>
    <% end %>
    <%= link_to events_path, class: "navbar-item" do %>
      <i class="fa-regular fa-map"></i>
    <% end %>
    <%= link_to "#", class: "navbar-item" do %>
      <i class="fa-regular fa-comments"></i>
    <% end %>
    <%= link_to "#", class: "navbar-item" do %>
      <%= cl_image_tag current_user.photo.key, class: "avatar-navbar"%>
    <% end %>
  </div>
</div>
