  <% total_distance = challenge.participations.sum(:distance) %>
  <% progress_percentage = ((participation.distance.to_f / challenge.distance.to_f) * 100).round(2) %>

  <% unless simple %>
  <div class="progress-text">
    <span class="text-center"><%= progress_percentage %>%</span>
    <p class="progress-text"><%= total_distance %> km out of <%= challenge.distance %> km</p>
  </div>
  <div class="container-new-distance">
    <%= form_with model: participation, local: true do |f| %>
      <%= f.label :distance, "Add a new distance" %>
      <%= f.number_field :distance, min: 0, max: challenge.distance %>
      <div class="submit-distance"><%= f.submit "Update" %></div>
    <% end %>
  </div>
<% end %>
