<div class="form_container">
  <%= simple_form_for(event) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <%= f.input :name, label: "Name", placeholder: "Michael", input_html: { class: "inputs"}  %>
    <%= f.input :pace, label: "Pace", placeholder: "Scott", input_html: { class: "inputs"}  %>
    <%= label_tag :datetime %>
    <%= f.datetime_local_field :datetime, class: "form-control inputs" %>
    <%= f.input :description, label: "Description", placeholder: "Tell us the aim of this event (recovery run, split run...)", input_html: { class: "inputs"}, wrapper_html: { class: "mt-3"}  %>
    <%= f.input :participants, label: "Participants", placeholder: "How many places available ?", input_html: { class: "inputs"}  %>
    <%= f.input :kilometers, label: "Distance", placeholder: "(in Km)", input_html: { class: "inputs"}  %>
    <%= f.input :location, label: "Location", placeholder: "Where your event will start ?", input_html: { class: "inputs"}  %>
    <%= f.input :photo, as: :file, input_html: { class: "inputs"}  %>
 </div>

<div class="form-actions" id="event_submit_btn_container">
  <%= f.button :submit, value: "Create my event", class: "ms-2 btn btn-flat"%>
</div>
  <% end %>
