<%= simple_form_for(event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "name"%>
    <%= f.input :pace, label: "pace" %>
    <%= f.datetime_local_field :datetime, label: "Datetime", class: "form-control"  %>
    <%= f.input :description, label: "Description"%>
    <%= f.input :participants, label: "Partcipants"%>
    <%= f.input :kilometers, label: "kilometers"%>
    <%= f.input :location, label: "Location"%>
    <%= f.input :photo, as: :file %>

 </div>

  <%= f.button :submit, value: "Créer mon event", class: "ms-2 btn btn-flat   "%>
<% end %>

  