<div class="form_container">
  <%= simple_form_for(event) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <%= f.input :name, label: "Name", input_html: { class: "inputs"}  %>
    <%= f.input :pace, label: "Pace", input_html: { class: "inputs"}  %>
    <%= f.datetime_local_field :datetime, label: "Datetime", class: "form-control inputs" %>
    <%= f.input :description, label: "Description", input_html: { class: "inputs"}  %>
    <%= f.input :participants, label: "Participants", input_html: { class: "inputs"}  %>
    <%= f.input :kilometers, label: "Distance", input_html: { class: "inputs"}  %>
    <%= f.input :location, label: "Location", input_html: { class: "inputs"}  %>
    <%= f.input :photo, as: :file, input_html: { class: "inputs"}  %>
 </div>

<div class="form-actions" id="event_submit_btn_container">
  <%= f.button :submit, value: "Create my event", class: "ms-2 btn btn-flat"%>
</div>
  <% end %>
