  <% @events.each do |event| %>
  <%= link_to event_path(event), class: "plain" do %>
    <strong> <%= event.name %></strong>
    <p> Location: <%= event.location %></p>
    <p> Date and time: <%= event.datetime %></p>
    <p> Number of participants: <%= event.participants %></p>
    <p> distance: <%= event.participants %> km</p>
    <p><%= event.user.first_name %></p>
    <% if event.pace? %>
      <p>Pace: <%= event.pace %></p>
    <% end %>
    <% end %>
  <% end %>

  <div style="height: 150px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-show-controls-value="false"
  data-map-show-popup-value="false"
  data-map-zoom-map-value="false"></div>
