<%= link_to challenge_path(challenge), class: "plain" do %>
  <div class="container-card-challenge-details">
    <div class="container-information">
    <div class="challenge-header">
      <h1 class="challenge-team-index"><%= challenge.team_name %></h1>
        <%= render "shared/profil_challenge", challenge: challenge%>
    </div>
      <h6 class="challenge-name-index"><%= challenge.title %></h6>
      
      <div class="map-container">
        <div class="map" style="height: 200px;"
          data-controller="map-challenge"
          data-map-challenge-markers-value="<%= @markers.to_json %>"
          data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-challenge-show-controls-value="false"
          data-map-challenge-show-popup-value="false"
          data-map-challenge-zoom-map-value="true">
        </div>
      </div>
    </div>
  </div>
<% end %>
