<%= link_to challenge_path(challenge), class: "plain" do %>
  <div class="container-card-challenge-details-info">
    <div class="container-information">
    <div class="challenge-header pb-3">
      <h1 class="challenge-team-index" ><%= challenge.team_name %></h1>
        <%= render "shared/profil_challenge", challenge: challenge%>
    </div>
      <h6 class="challenge-name-index"><%= challenge.title %></h6>
       <%= render "shared/nav_progression", participation: challenge.participations.first, challenge: challenge, simple: true %>
      </div>
    </div>
<% end %>
