<%= link_to challenge_path(challenge), class: "plain" do %>
   <div class="container-card-challenge-details-info">
     <div class="container-information">
      <div class="challenge-header pb-3">
        <div class="challenge-info">
          <h1 class="challenge-team-index" ><%= challenge.team_name %></h1>
          <h6 class="challenge-name-index"><%= challenge.title %></h6>
        </div>
          <%= render "shared/profil_challenge", challenge: challenge %>
        </div>
        <div class="row align-items-center progress-wrapper">
          <!-- Colonne pour la barre de progression -->
          <div class="col-10">     
              <%= render "progress_bar", participation: challenge.participations.first, challenge: challenge %>
          </div>
           <div class="col-2 text-end">
              <h3 class="progress-percentage mb-0 mr-2"><strong><%= @progress_percentage.round %> %</strong></h3>
            </div>
        </div> 
      </div>
    </div>
<% end %>