 <div class="container-void">
      <div class="container-void w-100">
        <div class="challenge-team-show"><%= @challenge.team_name %></div>
        <div class="challenge-name-index"><%= @challenge.title %></div>

       <div class="duration-challenge-img">
          <% if @challenge.duration == 504.0 %>
            <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1742470488/1_tsj7oz.png" class="img-rounded">
          <% elsif @challenge.duration == 150.0 %>
            <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1742470488/3_u0inhf.png" class="img-rounded">
          <% elsif @challenge.duration == 156.0 %>
            <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1742470488/2_lrlaag.png" class="img-rounded">
          <% else %>
            <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1742470488/4_k0f543.png" class="img-rounded">
          <% end %>
       </div>

        <div class="progress-container-all">
          <%= render 'challenges/progress_block_show', challenge: @challenge, participation: participation %>
          <div class="summary-container w-100">
          <div class="card-challenge-container">
            <div class="card distance-card">
              <div class="card-icon">
                <!-- Icône de durée - sablier -->
                <i class="fa-solid fa-hourglass-start"></i>
              </div>
              <div class="card-content">
                <% total_duration = challenge.participations.sum(:duration).round %>
                    <% hours = total_duration.fdiv(60).round
                      minutes = (total_duration % 60).to_i
                      duration_string = "#{hours}h#{"0" if minutes < 10}#{minutes}"
                    %>
                <span class="card-value"><%= duration_string %></span>
                <span class="card-label">Time</span>
              </div>
            </div>

            <div class="card steps-card">
              <div class="card-icon">
                <!-- Icône de feu -->
                <i class="fa-solid fa-fire"></i>
              </div>
              <div class="card-content">
                  <% total_duration = challenge.participations.sum(:duration).round %>
                  <% total_calories = (total_duration / 60) * 500 %>
                  <span class="card-value"><%= format_calories(total_calories) %></span>
                  <span class="card-label">Calories</span>
                </div>
              </div>
            </div>
          </div>
         </div>
          <%= render 'challenges/progress_new_distance', challenge: @challenge, participation: participation %>
        </div>
  <div class="container-card-challenge-details">
      </div>
</div>
