<% if challenge.category == "Distance challenge" %>
  <div class="container-new-distance mt-3 text-center">
    <%= simple_form_for participation, local: true, data: { controller: "distance" } do |f| %>
      <%= f.input :distance,
                  label: "Add a new run",
                  input_html: {
                                min: 0,
                                max: challenge.distance,
                                style: "border-radius: 15px;",
                                class: 'd-none',
                                data: {
                                        distance_target: 'inputValue'
                                      }
                              }
      %>
      <%= text_field_tag :new_distance,
                        0,
                        class: "form-control numeric float optional mb-3",
                        min: 0,
                        max: challenge.distance,
                        style: "border-radius: 15px;",
                        data: {
                                distance_target: 'newInputValue',
                                action: 'keyup->distance#increment'
                                } %>
      <%= f.button :submit %>
    <% end %>
  </div>

<% else %>
  <div class="container-new-duration mt-3 text-center">
    <%= simple_form_for participation, local: true, data: { controller: "duration" } do |f| %>
      <%= f.input :duration,
                  label: "Add a new run (in minutes)",
                  input_html: {
                                min: 0,
                                max: challenge.duration,
                                style: "border-radius: 15px;",
                                class: 'd-none',
                                data: {
                                        duration_target: 'inputValue'
                                      }
                              }
      %>
      <%= text_field_tag :new_duration,
                        0,
                        class: "form-control numeric float optional mb-3",
                        min: 0,
                        max: challenge.duration,
                        style: "border-radius: 15px;",
                        data: {
                                duration_target: 'newInputValue',
                                action: 'keyup->duration#increment'
                                } %>
      <%= f.button :submit %>
    <% end %>
  </div>
<% end %>

<%= button_to "Connect with Strava",
    '/auth/strava',
    method: :post,
    class: "strava-connect-button",
    params: { callback_url: "/auth/strava/callback/#{@challenge.id}" },
    data: { turbo: false } %>
