<!DOCTYPE html>
<html>
  <head>
    <title>Spry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dexzpdaju/image/upload/v1741701016/favicon_3_a3jyp2.ico">
  </head>

  <body>
  <% unless controller_name == 'pages' && action_name == 'home' %>
    <%= render "shared/navbar" %>
  <% end %>
  <%= render "shared/flashes" %>
  <%= yield %>
  </body>
</html>
